.room {
    height: 100vh;
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.Light {
    background-color: white;
    color: black;
}

.Dark {
    background-color: black;
    color: white;
}